script#model1(type="text/ng-template")
  p.pull-right {{ place }}, le
  p {{ firstName }} {{ lastName }}
  p.lead
    strong Objet :
    |  candidature option/filière en troisième année
  p Madame, Monsieur,
  p
    | Actuellement en {{ originCursus }}, je rentrerai l’an prochain en troisième année à l’École. Passionné depuis plusieurs années par {{ hobby1 }}, et plus particulièrement par {{ hobby1Detail }} , j’y ai fait mes premières armes à la fin de mes classes préparatoires, en effectuant un stage opérateur chez {{ operatorInvoice }}.
  p
    | Lors de mon entrée à l'École, je me suis très naturellement investi dans l’association {{ gang }}, qui {{ gangDescription }}, en tant que {{ gangPost }}. J’y ai acquis un grand nombre de compétences (essentiellement par la pratique), mais j’y ai surtout nettement précisé mon projet professionnel : les nombreux travaux que j’ai pu mener en collaboration avec mon équipe, puis la suivante, dont certains se poursuivent encore, m’ont réellement convaincu de ma passion pour {{ hobby1 }}, dans lesquels je souhaiterais faire carrière, pour devenir par exemple {{ expectedJob }}.
  p
    | Au cours de mon cursus scolaire, j’ai constamment essayé de profiter au maximum des choix de cursus qui m’ont été offerts dans ce but, qu’il s’agisse des choix d’électifs ou de projets, orientés autant que possible vers {{ hobby1 }}.
  p
    | J’ai ensuite choisi d’effectuer {{ originCursus }} pour avoir un avant-goût de ces différents domaines et approfondir ma connaissance du monde de l’entreprise, toujours dans le cadre de mon projet professionnel : notamment chez {{ company }}, qui portait essentiellement sur {{ companyDomain }}.
  p
    | J’y ai découvert des notions nettement plus poussées sur {{ companyDomainDetail }} et ai développé des compétences dans le domaine {{ companyDomainSkill }}, ce qui a grandement contribué à mon développement personnel par une pratique plus intensive dans un cadre professionnel adapté ; et ceci malgré l’expérience de projets (enjeu, innovation et dans le cadre associatif) que j’avais pu mener où mon rôle s’était davantage focalisé sur les aspects projets et humains.
  p
    | Fort de cette expérience, je souhaiterais pouvoir en apprendre plus sur {{ option1.description }}, et la branche {{ option1.subDomain }} de l’option {{ option1.shortCode }} me semble la plus adéquate à cet effet. Par ailleurs, je me suis orienté vers le monde de l’entreprise par mes choix de cursus, notamment en {{ originCursus }}. À défaut de cette branche, les autres branches de l’option {{ option1.shortCode }} présentent pour moi un grand intérêt également.
  p
    | En complément de cette formation en {{ hobby1 }}, j’ai également suivi plusieurs cours électifs au sujet de {{ hobby2 }}, sujet qui me passionne par la diversité et la complexité des enjeux mis en oeuvre. Si les aspects diffèrent, j’y retrouve d’une part l’émerveillement que je peux ressentir en voyant de tels systèmes fonctionner, d’autre part la même admiration lorsque je le découvre plus en détail ; c’est pourquoi j’ai porté mon deuxième choix sur l’option {{ option2.shortCode }}. Et mon goût pour la {{ hobby3 }}, confirmé à l'École, trouverait ici matière à s’exprimer, de même qu’en option {{ option3.shortCode }}, que j’ai placée en troisième choix pour des raisons similaires.
  p
    | Au-delà de cet apport, j’ai également eu la chance de me retrouver en tant que membre d’équipes de tailles diverses, aussi bien dans de petites structures (milieu associatif principalement) que dans des entités de nature plus grande et donc de fonctionnement bien différents.
  p
    | Lors de mon passage chez {{ gang }}, la répartition des responsabilités dans l’équipe m’a souvent amené à être moteur des projets de l’association. Je l’ai découvert à {{ gang }}, et au cours de mes divers stages : une équipe qui fonctionne est un élément indispensable à la réussite d’un projet, et le {{ filiere1.keyword }} est une composante essentielle de cette réussite. C’est au coeur des projets, dans le feu de l’action, que je pense donner le meilleur de moi-même. C’est pour cela que je souhaite intégrer la filière {{ filiere1.shortCode }}.
  p
    | Je ne saurais non plus renier mon intérêt pour {{ filiere2.keyword }} , ayant fait mes premières armes dans le domaine de {{ hobby1 }} ; {{ filiere2.keyword }} était d’ailleurs précisément l’objet du travail que j’ai accompli chez {{ company }}, mais également un objectif permanent des projets que j’ai accomplis chez {{ gang }}... La filière {{ filiere2.shortCode }} est donc mon second choix.
  p
    | Enfin, mon troisième choix se porte sur la filière {{ filiere3.shortCode }}. Les raisons sont proches de celles de mon choix pour la filière {{ filiere2.shortCode }}., auxquelles s’ajoutent la complexité de gérer les différences de méthode et de mentalité que je découvre peu à peu chez à travers la diversité de mes expérience, qui cultive son aspect axé autour de {{ filiere3.keyWord}} et des débats animés tournant autour de cette notion clé ! Un aspect plaisant, formateur professionnellement riche que je souhaiterais donc développer.
  p
    | En vous remerciant pour l’intérêt que vous porterez à ma candidature, je vous prie d’agréer, Madame, Monsieur, l’expression de mes salutations distinguées.
  p
    strong {{ firstName }} {{ lastName }}
