.step1
  h2 1 - Choisis ton modèle de lettre
  .btn-group
    label.btn.btn-success(ng-model="$parent.model", btn-radio="letter", ng-repeat="letter in letters", uncheckable) {{ letter.name }}

.step2(ng-show="model")
  h2 2 - Rentre les champs requis
  form(name="form")
    .col-xs-4
      h2 T ki lol ?

      .form-group(ng-repeat="field in model.fields")
        label(for="field.name") {{ field.label }}
        input.form-control#firstName(type="text", placeholder="{{ field.label }}", required="required", ng-model="$parent[field.name]", ng-model-options="{ getterSetter: true }")

    .col-xs-8
      h2 Ta lettre

      pre
        letter(compile="model.text")
