doctype html
html(lang="fr", ng-app="%module%")
  head
    base(href="/")
    title Générateur de lettres de motivation ECP 3A
    meta(charset="utf-8")
    link(rel="icon", type="image/x-icon", href="/favicon.ico")
    link(rel="stylesheet", href="%styles%/app.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    meta(name="viewport", content="initial-scale=1.0, width:device-width")
  body
    main(ui-view)

    script(src="%scripts%/vendor.js")
    script(src="%scripts%/app.js")
    script(src="%scripts%/templates.js")
